<%- include("partials/header.ejs") %>

<main class="main index-main">
  <div class="header-link-container">
        <div class="links">
          <a href="#about" class="header-link">About</a>
          <a href="#features" class="header-link">Features</a>
          <a href="#contact" class="header-link">Contact</a>
        </div>
      </div>
      <div class="main-index-container">
  <div class="index-main-hero-cont">
    <div class="hero-first-cont">
      <h1>DevConnect – Where Developers Share What Matters</h1>
      <h3>Write technical blogs, discover insights, and connect with a thriving dev community.</h3>
      <a href="/signup">
        <button class="header-btn header-btn-signup">
          Sign Up
        </button>
      </a>
    </div>
    <div class="hero-second-cont"></div>
  </div>
  <div class="index-main-second-cont">
    <div class="wrapper-cont"></div>
  </div>
  </div>
</main>

<%- include("partials/footer.ejs") %>